* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 1024px;
  background-color: #211D1D;
  color: aliceblue;
  margin: 3% 2% 2% 2%;
  display: flex;
}
.container {
  display: flex;
}
aside {
  display: flex;
  flex-flow: column;
  gap: 2%;
  padding-right: 2%;
}
aside :nth-child(1) {
  border: 3px solid white;
  border-radius: 20px;
  width: 30vw;
  height: 253px;
}
aside :nth-child(2) {
  border: 3px solid white;
  border-radius: 20px;
  width: 30vw;
  height: 122px;
}
aside :nth-child(3) {
  border: 3px solid white;
  border-radius: 20px;
  width: 30vw;
  height: 366px;
}
main {
  display: flex;
  flex-flow: column;
  gap: 2%;
  padding-right: 2%;
}
main :nth-child(1) {
  border: 3px solid white;
  border-radius: 20px;
  width: 35vw;
  height: 100px;
}
main :nth-child(2) {
  border: 3px solid white;
  border-radius: 20px;
  width: 35vw;
  height: 540px;
}
main :nth-child(3) {
  border: 3px solid white;
  border-radius: 20px;
  width: 35vw;
  height: 100px;
}
section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 2%;
}
section .box {
  display: flex;
  column-gap: 40px;
}
section .box :nth-child(1) {
  border: 3px solid white;
  border-radius: 20px;
  width: 25vh;
  height: 180px;
}
section .box :nth-child(2) {
  border: 3px solid white;
  border-radius: 20px;
  width: 25vh;
  height: 180px;
}
section :nth-child(2) {
  border: 3px solid white;
  border-radius: 20px;
  width: 26vw;
  height: 190px;
}
section .reseaux {
  display: flex;
  column-gap: 8%;
}
section .reseaux :nth-child(1) {
  border: 3px solid white;
  border-radius: 20px;
  width: 7.5vw;
  height: 170px;
}
section .reseaux :nth-child(2) {
  border: 3px solid white;
  border-radius: 20px;
  width: 7.5vw;
  height: 170px;
}
section .reseaux :nth-child(3) {
  border: 3px solid white;
  border-radius: 20px;
  width: 7.5vw;
  height: 170px;
}
section :nth-child(4) {
  border: 3px solid white;
  border-radius: 20px;
  width: 26vw;
  height: 180px;
}
