* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #211D1D;
  color: aliceblue;
  display: flex;
}
body .container {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  gap: 2%;
}
body aside {
  width: 22.5%;
  display: flex;
  flex-flow: column;
  row-gap: 20px;
}
body aside .card {
  width: 100%;
  height: 253px;
  perspective: 1000px;
}
body aside .card .card-front::before {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  content: "";
  position: absolute;
  z-index: 1;
}
body aside .card .card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
body aside .card:hover .card-inner {
  transform: rotateY(-180deg);
}
body aside .card .card-front,
body aside .card .card-back {
  width: 100%;
  height: 100%;
  border: 3px solid white;
  border-radius: 20px;
  background-image: url("images/Projet\ 1.png");
  background-size: cover;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
body aside .card .card-front.card-back,
body aside .card .card-back.card-back {
  background: linear-gradient(to right, #f9815b, #ffa571);
  transform: rotateY(180deg);
}
body aside .card h2 {
  position: relative;
  z-index: 2;
  font-size: 32px;
  font-family: "Zen Dots", sans-serif;
  text-align: center;
  border-top: solid 2px white;
  border-bottom: solid 2px white;
  padding: 1%;
}
body .Actuellement {
  border: 3px solid white;
  border-radius: 20px;
  width: 100%;
  height: 122px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .Video {
  border: 3px solid white;
  border-radius: 20px;
  width: 100%;
  height: 366px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body h3 {
  background: linear-gradient(to right, #F9815B, #FFA571);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  font-family: "Zen Dots", sans-serif;
  text-align: center;
}
body p {
  text-align: center;
  font-family: "Sen", sans-serif;
  padding: 3% 2.5% 2% 2.5%;
}
body main {
  width: 32%;
  display: flex;
  flex-flow: column;
  row-gap: 20px;
}
body main .BoxIcone1 {
  border: 3px solid white;
  border-radius: 20px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .BoxIcone1 .icon {
  display: flex;
  justify-content: center;
  width: 25%;
  height: 75px;
  padding: 0px 2% 0px 0%;
}
body main .presentation {
  border: 3px solid white;
  border-radius: 20px;
  width: 100%;
  height: 540px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 1% 2.5% 1% 2.5%;
}
body main h1 {
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
body main .bouton {
  background: linear-gradient(#F9815B, #FFA571);
  border: 3px solid white;
  border-radius: 20px;
  width: 45%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Zen Dots", sans-serif;
  font-size: 20px;
}
body main .BoxIcone2 {
  border: 3px solid white;
  border-radius: 20px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .BoxIcone2 .icon {
  display: flex;
  justify-content: center;
  width: 25%;
  height: 68px;
  padding: 0px 1% 0px 0%;
}
body section {
  width: 27.5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 20px;
}
body section .box {
  display: flex;
  column-gap: 40px;
}
body section .box :nth-child(1) {
  border: 3px solid white;
  border-radius: 20px;
  width: 100%;
  height: 180px;
}
body section .box :nth-child(2) {
  border: 3px solid white;
  border-radius: 20px;
  width: 100%;
  height: 180px;
}
body section :nth-child(2) {
  border: 3px solid white;
  border-radius: 20px;
  width: 100%;
  height: 190px;
}
body section .reseaux {
  display: flex;
  column-gap: 8%;
}
body section .reseaux :nth-child(1) {
  border: 3px solid white;
  border-radius: 20px;
  width: 33%;
  height: 170px;
}
body section .reseaux :nth-child(2) {
  border: 3px solid white;
  border-radius: 20px;
  width: 33%;
  height: 170px;
}
body section .reseaux :nth-child(3) {
  border: 3px solid white;
  border-radius: 20px;
  width: 33%;
  height: 170px;
}
body section :nth-child(4) {
  border: 3px solid white;
  border-radius: 20px;
  width: 100%;
  height: 185px;
}
